{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">

    <div class="columns is-centered">

        <div class="column">

            <div class="box">

                <div class="title has-text-dark has-text-centered my-6">{{ article }}</div>

                <img src="{{ article.thumb.url }}" alt="" class="image is-centered"

                     style="min-width: 100%; border-radius: 5px">

                <div class="subtitle has-text-dark has-text-centered my-6">{{ article.text }}</div>

                {% if user not in article.likes.all and user not in article.dislikes.all %}
                <div class="columns">
                    <div class="column is-1">
                        <form action="{% url 'article_like' article.slug %}" method="post" class="has-text-right">
                            {% csrf_token %}
                            <button type="submit" class="button">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                                <span class="ml-2">{{ article.total_likes }}</span>
                               
                            </button>
                        </form>
                    </div>
                    <div class="column is-1">
                        <form action="{% url 'article_dislike' article.slug %}" method="post" class="has-text-right">
                            {% csrf_token %}
                            <button type="submit" class="button">
                                <ion-icon name="thumbs-down-outline"></ion-icon>
                                <span class="ml-2">{{ article.total_dislikes}}</span>
                           
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% if user  in article.likes.all and user not in article.dislikes.all %}
                <div class="columns">
                    <div class="column is-1">
                        <form action="{% url 'article_like' article.slug %}" method="post" class="has-text-right">
                            {% csrf_token %}
                            <button type="submit" class="button">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                                <span class="ml-2">{{ article.total_likes }}</span>
                               
                            </button>
                        </form>
                    </div>
                    <div class="column is-1">
                        <form action="{% url 'article_dislike' article.slug %}" method="post" class="has-text-right">
                            {% csrf_token %}
                            <button type="submit" class="button">
                                <ion-icon name="thumbs-down-outline"></ion-icon>
                                
                           
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% if user not in article.likes.all and user  in article.dislikes.all %}
                <div class="columns">
                    <div class="column is-1">
                        <form action="{% url 'article_like' article.slug %}" method="post" class="has-text-right">
                            {% csrf_token %}
                            <button type="submit" class="button">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                                <span class="ml-2">{{ article.total_likes }}</span>
                               
                            </button>
                        </form>
                    </div>
                    <div class="column is-1">
                        <form action="{% url 'article_dislike' article.slug %}" method="post" class="has-text-right">
                            {% csrf_token %}
                            <button type="submit" class="button">
                                <ion-icon name="thumbs-down-outline"></ion-icon>
                                <span class="ml-2">{{ article.total_dislikes}}</span>
                           
                            </button>
                        </form>
                    </div>
                </div>

                {% endif %}


                <form method="POST" enctype="multipart/form-data" class="comment">
                    {% csrf_token %}
                    { forms }
                    <button type="submit" class="button is-success mt-3 is-fullwidth">Submit</button>

                </form>

          




                <div class="has-text-grey is-size-6 has-text-right is-italic">
                    <p class="datetime">date of publication:{{ article.date }}</p>
                    {% if user == article.author %}
                    <p class="content">pulished by you</p>
                    {% else %}
                    <p class="content">Pulished by: {{ article.author }}</p>
                    {% endif %}
                </div>
                

            </div>
            {% if user == article.author %}
            <div class="has-text-right">
                <a href="{% url 'article_edit' article.slug %}" class="button is-info">
                    <i class="fa-solid fa-calendar-lines-pen"></i>
                </a>
                <a href="{% url 'article_delete' article.slug %}" class="button is-danger">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>

            {% else %}
            <div class="has-text-right">
                <p class="content has-text-grey-light">
                    you can't not edit or delete this post
                </p>
            </div>

            {% endif %}

        </div>

    </div>

    </div>

    {% endblock %}





